.videos {
  padding: 70px 0 64px;
  background: rgba(229, 229, 229, .3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos__content {
  width: 85.7%;
  position: relative;
}

.videos__title {
  margin: 0 0 54px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #222222;
}

.videos__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
