.yandex-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  box-sizing: border-box;
  transition: .3s;
}

.yandex-rating:hover {
  transform: scale(1.05);
}

.yandex-rating__img {
  width: 81px;
  height: 50px;
  object-fit: contain;
  box-sizing: border-box;
}
